*.pyc
*.o
*.so
*.root
*.dylib
*.dll
*.pdf
*.png
*.tex
*.swp
*DS_Store
FourTops
nbproject
Terminal*
build
misc
glog
glog-install
gtest
gtest-install
gflags-2.2.0-install
gflags-install
gflags
json2html
SubmitScripts/[0-9]*
output
StatTest-master
result/plots_el
result/plots_mu
MVA/Freyas/root_numpy-4.7.2
result/eventdisplays
result/tools/displaced
ana/.vscode
.vscode
tttt_ws.code-workspace

rootplot_origin
